img.slider-img{
    margin-top: 95px;
    height: 300px !important;
    border-radius: 10px;
}
.custom-product{
    background-color: teal;
    border-radius: 10px;
    height: 500px;
}
.tranding-img{
    height: 100px;
    border-radius: 5px;
}
.tr-elem{
   display: inline-flex;
   margin: 30px;
   width: 12%;
   margin-right: 100px;
}
.tranding-wrapper{
    margin: 50px;
    padding-left: 5%;
}
.detail-img{
    height: 300px;
    margin: 50px;
    border-radius: 5px;
}
.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  color: #ffffff;
  background-color: darkgray;
  font-size: 1.5rem;
}
.social-icon:hover {
  background-color: #0056b3;
}
.search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
     
   }

   .search input{

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


   }

   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }

   .search .fa-search{

    position: absolute;
    top: 20px;
    left: 16px;

   }

   .search button{

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
   }
   
/* Reset default margin, padding, and text styles */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

/* Global styles for the body */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #E0E0E0;
  color: #000000;
}

/* Unordered list styles */
ul {
  list-style: none;
  margin-bottom: 0px;
}

/* Button styles */
.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* Button anchor link styles */
.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
}

/* Button hover effect */
.button:hover {
  opacity: 0.8;
}

/* Cart section styles */
.cart_section {
  width: 100%;
  padding-top: 93px;
  padding-bottom: 111px;
}

/* Cart title styles */
.cart_title {
  font-size: 30px;
  font-weight: 500;
}

/* Cart items styles */
.cart_items {
  margin-top: 8px;
}

/* Cart list styles */
.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Cart item styles */
.cart_item {
  width: 100%;
  padding: 15px;
  padding-right: 46px;
}

/* Cart item image styles */
.cart_item_image {
  width: 100px;
  height: 90px;
  float: left;
}

/* Cart item image inside the cart item styles */
.cart_item_image img {
  max-width: 70%;
}

/* Cart item info styles */
.cart_item_info {
  width: calc(100% - 133px);
  float: left;
  padding-top: 18px;
}

/* Cart item name styles */
.cart_item_name {
  margin-left: 7.53%;
}

/* Cart item title styles */
.cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color:  rgba(25, 12, 87, 0.5);
}

/* Cart item text styles */
.cart_item_text {
  font-size: 18px;
  margin-top: 35px;
}

/* Cart item text span styles */
.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}

/* Cart item price styles */
.cart_item_price {
  text-align: right;
}

/* Cart item total styles */
.cart_item_total {
  text-align: right;
}

/* Order total styles */
.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff;
}

/* Order total title styles */
.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
}

/* Order total amount styles */
.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px;
}

/* Cart buttons styles */
.cart_buttons {
  margin-top: 60px;
  text-align: right;
}

/* Cart button clear styles */
.cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px;
}

/* Cart button clear hover effect */
.cart_button_clear:hover {
  border-color: #0e8ce4;
  color: #0e8ce4;
}

/* Cart button checkout styles */
.cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top;
}
